<div class="sidebar-panel">
    <div class="top">
    <img src="./assets/img/app-logo.png" alt="" srcset="">
    </div>
   <div>
   </div>
   <ul>
    <li class="active"> 
        <span class="material-symbols-outlined">
            home 
        </span>
        <h3>home</h3>

    </li>
    <li> 
        <span class="material-symbols-outlined">
            group
        </span>
        <h3>employees</h3>
         </li>
    <li> 
        <span class="material-symbols-outlined">
            logout
        </span>
        <h3>logout</h3> </li>
   </ul>
</div>
