<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/home.css">
<div class="wrapper">
    <div class="sidebar">
    <%- include('../layouts/sidebar', {PageName: 'home'}) %>
    </div>
    <div class="main_content">
        <div class="header">Welcome!!</div>
        <div class="info">
            <div> <h1>home</h1></div>
            <div> <h1>Welcome</h1></div>
            <div><h1> <%- user %>  </h1></div>
        </div>
    </div>
    <div class="right">
        <h1> right</h1>
    </div>
</div>


<script src="js/home.js"></script>